
body {
  width: 85%;
  font-family: 'Arial', sans-serif;
  background: var(--background);
  background-image: radial-gradient(
    circle at 0 0,
    var(--background-style-color) 1px,
    transparent 1px
  );
  background-size: 16px 16px;
  color: #d4d4d4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main {
  margin-top: 90px;
  min-height: 72vh;
}

/* Navbar */
.navbar {
  width: 85%;
  height: 60px;
  margin-top: 20px;
  border: 1px solid var(--border-color);
  background-color: var(--navbar-background);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px; /* Asegurarse de que el padding sea consistente */
  border-radius: 5px;
  position: fixed;
  top: 0; /* Asegúrate de que esté fijo en la parte superior */
  left: 50%; /* Centramos el navbar horizontalmente */
  transform: translateX(-50%); /* Corrige el centrado horizontal */
}

.navbar_logo {
  width: 35px;
}

.navbar_logo img,
.navbar_items_container {
  width: auto; /* Ajusta el ancho automático si es necesario */
}

.navbar_items {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
}

.navbar_item {
  display: flex;
  padding: 5px 15px;
  border-radius: 5px;
  border: 1px solid transparent;
  align-items: center;
  justify-content: center;
  color: #d4d4d4;
  font-size: 12px;
  font-weight: 500;
  text-decoration: none;
  transition: background-color 0.3s ease-in-out;
}

.navbar_item:hover {
  background-color: var(--background-component-selected);
}

.navbar_item svg {
  width: 16px;
  margin-right: 7px;
}

/* Navbar Toggle */
#hamburger,
.navbar_menu_toggle {
  display: none;
}

@media screen and (max-width: 768px) {
  #hamburger {
    display: none;
  }

  .navbar_menu_toggle {
    display: flex;
  }

  .navbar_menu_toggle label {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .navbar_menu_toggle label svg {
    width: 22px;
    height: 22px;
  }

  .navbar_items_container {
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    background-color: var(--navbar-background);
    border: 1px solid var(--border-color);
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
    display: none;
  }

  .navbar_items_container .navbar_items {
    flex-direction: column;
    gap: 20px;
    width: 100%;
    height: 100%;
    padding: 20px;
  }

  .navbar_items_container .navbar_items .navbar_item {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
    border-radius: 5px;
    border: 1px solid transparent;
    transition: background-color 0.3s ease-in-out;
  }

  .navbar_item a {
    height: 20px;
  }

  #hamburger:checked ~ .navbar_items_container {
    display: block;
  }
}

/* Footer */
footer {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer_container {
  width: 100%;
  height: 60px;
  border-radius: 5px;
  background-color: var(--background-component);
  border: 1px solid var(--border-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer_text {
  font-size: 0.8rem;
  font-weight: 500;
  color: var(--accent-color);
}

/* Cursor */
.cursor {
  border: 1px solid var(--border-color);
  position: fixed;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  pointer-events: none;
  transform: translate(-50%, -50%);
  border-radius: 10%;
  background-color: var(--background-component);
  backdrop-filter: blur(1px);
}

.cursor_pointer {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: var(--accent-color);
  position: fixed;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  pointer-events: none;
}

/* Tooltips */
[data-tooltip]:before {
  content: attr(data-tooltip);
  position: absolute;
  opacity: 0;
  font-size: 0.7rem;
  transition: opacity 0.15s ease;
  padding: 10px;
  color: #9c9c9c;
  border: 1px solid var(--border-color);
  border-radius: 1vh;
}

[data-tooltip]:hover:before {
  opacity: 1;
  background: var(--background-component-selected);
  backdrop-filter: blur(10px);
}

[data-tooltip]:not([data-tooltip-persistent]):before {
  pointer-events: none;
}

/* Scrollbar */
::-webkit-scrollbar {
  visibility: hidden;
}

/* Horizontal Rule */
hr {
  height: 1px;
  border: 0;
  width: 100%;
  margin: 20px 0;
  background-image: linear-gradient(
    to right,
    transparent,
    var(--border-color),
    transparent
  );
}

/* Variables */
:root {
  --background: #0c0c0c;
  --navbar-background: rgba(13, 13, 13, 0.95);
  --background-component: #0f0f0f63;
  --background-component-selected: #1a1a1a63;
  --background-style-color: #242424;
  --accent-color: #b8b8b8;
  --border-color: #1c1d20;
}