/* Cursor personalizado */
.cursor {
    border: 1px solid var(--border-color);
    position: fixed;
    top: 0;
    left: 0;
    width: 25px;
    height: 25px;
    pointer-events: none;
    transform: translate(-50%, -50%);
    border-radius: 50%; /* Cambiado a un círculo */
    background-color: var(--accent-color);
    backdrop-filter: blur(3px); /* Aumenta el desenfoque */
    box-shadow: 0 0 8px rgba(255, 255, 255, 0.2); /* Añade una sombra sutil */
    transition: transform 0.15s ease-in-out;
  }
  
  .cursor_pointer {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: var(--background-component-selected);
    position: fixed;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
    pointer-events: none;
    transition: width 0.15s ease, height 0.15s ease, background-color 0.15s ease;
  }
  
  [data-tooltip]:before {
    content: attr(data-tooltip);
    position: absolute;
    opacity: 0;
    font-size: 0.7rem;
    transition: all 0.15s ease;
    padding: 10px;
    color: #9c9c9c;
    border: 1px solid var(--border-color);
    border-radius: 1vh;
  }
  
  [data-tooltip]:hover:before {
    opacity: 1;
    background: var(--background-component-selected);
    backdrop-filter: blur(10px);
  }
  
  /* Tooltip permanente en hover */
  [data-tooltip]:not([data-tooltip-persistent]):before {
    pointer-events: none;
  }
  
  * {
    cursor: none !important;
    margin: 0;
    box-sizing: border-box;
  }
  
  .button {
    padding: 10px 20px;
    background-color: var(--accent-color);
    border: none;
    border-radius: 5px;
    color: #ffffff;
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.3s ease;
  }
  
  .button:hover {
    background-color: var(--background-component-selected);
    transform: scale(1.1); /* Agranda el botón al pasar el mouse */
  }
  
  .fade-in {
    animation: fadeIn 0.5s ease-in-out;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  .slide-in-left {
    animation: slideInLeft 0.5s ease-out;
  }
  
  @keyframes slideInLeft {
    from {
      transform: translateX(-100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
  